################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Raindrops.UI.WebView/.vs/Raindrops.UI.WebView/v16
/Raindrops.UI.WebView.TestWinForm/obj/Debug/netcoreapp3.1
/Raindrops.UI.WebView/obj
